<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>OEunion Dental Care Category Flat Bootstrap Responsive Website Template | Blog :: W3layouts</title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Dental Health Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

  <script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
  </script>

  <!-- css files -->
  <link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
  <link href="assets/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
  <link href="assets/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
  <!-- //css files -->

  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
  <!-- //google fonts -->

</head>
<body>

<!-- top header -->
<div th:replace="topheader :: header-top"></div>
<!-- //top header -->

<!-- //header -->
<div th:replace="header :: header"></div>
<!-- //header -->


<!-- banner -->
<div class="innerpage-banner" id="home">
  <div class="inner-page-layer">
  </div>
</div>
<!-- //banner -->

<!-- blog -->
<section class="blog py-5">
  <div class="container py-md-3">
    <h2 class="heading text-center mb-sm-5 mb-4">Dental blog </h2>
    <div class="row blog-grids head">
      <div class="col-lg-7 mb-lg-5 blog-img1">
        <img src="assets/images/blog1.jpg" alt="" class="img-fluid"/>
        <a href="single.html">Blog #1</a>
      </div>
      <div class="col-lg-5 mb-lg-5 mb-4">
        <h5>March 3, 2019.</h5>
        <h4 class="my-3">Nullam dui mi, vulputate ac</h4>
        <p class="my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.</p>
        <a href="single.html" class="btn-banner"> View Post </a>
      </div>
      <div class="col-lg-5 mb-lg-5 mb-4">
        <h5>March 3, 2019.</h5>
        <h4 class="my-3">Nullam dui mi, vulputate ac</h4>
        <p class="my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.</p>
        <a href="single.html" class="btn-banner"> View Post </a>
      </div>
      <div class="col-lg-7 mb-5 blog-img2">
        <img src="assets/images/blog1.jpg" alt="" class="img-fluid"/>
        <a href="single.html">Blog #2</a>
      </div>
      <div class="col-lg-7 mb-lg-5 blog-img1">
        <img src="assets/images/blog1.jpg" alt="" class="img-fluid"/>
        <a href="single.html">Blog #3</a>
      </div>
      <div class="col-lg-5 mb-lg-5 mb-4">
        <h5>March 3, 2019.</h5>
        <h4 class="my-3">Nullam dui mi, vulputate ac</h4>
        <p class="my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.</p>
        <a href="single.html" class="btn-banner"> View Post </a>
      </div>
      <div class="col-lg-5 mb-lg-5 mb-4">
        <h5>March 3, 2019.</h5>
        <h4 class="my-3">Nullam dui mi, vulputate ac</h4>
        <p class="my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.</p>
        <a href="single.html" class="btn-banner"> View Post </a>
      </div>
      <div class="col-lg-7 blog-img2">
        <img src="assets/images/blog1.jpg" alt="" class="img-fluid"/>
        <a href="single.html">Blog #4</a>
      </div>
    </div>
  </div>
</section>
<!-- //blog -->
<!-- footer -->
<div th:replace="~{footer :: footer}"></div>
<!-- //footer -->
<!-- move top -->
<div class="move-top text-right">
  <a href="#home" class="move-top">
    <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
  </a>
</div>
<!-- move top -->

</body>
</html>