<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OEunion Dental Care Medical Category Flat Bootstrap Responsive Website Template | Home :: W3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="OEunion Dental Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="assets/css/css_slider.css" type="text/css" rel="stylesheet" media="all"><!-- slider css -->
    <link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="assets/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>

<!-- top header -->
<div th:replace="~{topheader :: header-top}"></div>
<!-- //top header -->

<!-- //header -->
<div th:replace="~{header :: header}"></div>
<!-- //header -->

<!-- banner -->
<div class="banner" id="home">
    <div class="layer">
        <div class="container">
            <div class="banner-text-agile">
                <div class="row">
                    <div class="col-lg-6 p-0">
                        <!-- banner slider-->
                        <div class="csslider infinity" id="slider1">
                            <input type="radio" name="slides" checked="checked" id="slides_1" />
                            <input type="radio" name="slides" id="slides_2" />
                            <input type="radio" name="slides" id="slides_3" />
                            <ul class="banner_slide_bg">
                                <li>
                                    <div class="container-fluid">
                                        <div class="w3ls_banner_txt">
                                            <h3 class="b-w3ltxt text-capitalize mt-md-4"><span>Quality Orthodontic </span> Treatments.</h3>
                                            <p class="w3ls_pvt-title my-3">Experience top-tier orthodontic care designed
                                                to align your smile and improve your oral health with precision and expertise.</p>
                                            <a th:href="@{/about}" class="btn btn-banner my-sm-3 mb-3">Read More</a>
                                            <a th:href="@{/contact}" class="btn btn-banner1 my-sm-3 mb-3">Consult a dentist</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container-fluid">
                                        <div class="w3ls_banner_txt">
                                            <h3 class="b-w3ltxt text-capitalize mt-md-4"><span>We care about your</span> Teeth</h3>
                                            <p class="w3ls_pvt-title my-3">We prioritize your oral health with personalized
                                                care, advanced treatments, and a commitment to your comfort and satisfaction.</p>
                                            <a th:href="@{/about}" class="btn btn-banner my-sm-3 mb-3">Read More</a>
                                            <a th:href="@{/contact}" class="btn btn-banner1 my-sm-3 mb-3">Consult a dentist</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container-fluid">
                                        <div class="w3ls_banner_txt">
                                            <h3 class="b-w3ltxt text-capitalize mt-md-4"><span>Professionally Trained</span> Dental Staff.</h3>
                                            <p class="w3ls_pvt-title my-3">Our professionally trained dental staff ensures
                                                expert care and a comfortable experience with every visit.</p>
                                            <a th:href="@{/about}" class="btn btn-banner my-sm-3 mb-3">Read More</a>
                                            <a th:href="@{/contact}" class="btn btn-banner1 my-sm-3 mb-3">Consult a dentist</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="navigation">
                                <div>
                                    <label for="slides_1"></label>
                                    <label for="slides_2"></label>
                                    <label for="slides_3"></label>
                                </div>
                            </div>
                        </div>
                        <!-- //banner slider-->

                    </div>
                    <div class="col-lg-6 col-md-8">
                        <img src="assets/images/banner.png" alt="" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5">
    <div class="container py-md-3">
        <h2 class="heading text-center mb-sm-5 mb-4">About Us </h2>
        <div class="row">
            <div class="col-lg-8">
                <h4 class="about-left">Be Gentle With The Strongest!</h4>
                <p class="mt-sm-4 mt-3">At OEunion Dental Care, we are dedicated to providing patients of all age with personalized and comfortable dental care.
                    Our approach is built on the belief that dental health is for everyone, and we take pride in treating each patient with
                    the utmost care and respect. Whether you’re a seasoned dental patient or visiting for the first time, our team
                    ensures that every procedure is performed with precision and a gentle touch. Because even the strongest smiles
                    need careful attention.</p>
                <div class="row mt-4">
                    <div class="col-md-3 col-6">
                        <div class="about-box"><a th:href="@{/services}">
							<span class="icon">
								<span class="fa fa-birthday-cake"></span>
                            </span></a>
                            <h4>Root Canals</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="about-box"><a th:href="@{/services}">
							<span class="icon">
								<span class="fa fa-rocket"></span>
                            </span></a>
                            <h4>Teeth Whitening</h4>
                        </div>
                    </div>
                    <!-- .about-box ends here -->
                    <div class="col-md-3 col-6 mt-md-0 mt-4">
                        <div class="about-box"><a th:href="@{/services}">
							<span class="icon">
								<span class="fa fa-stethoscope"></span>
                            </span></a>
                            <h4>Check-ups</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-4">
                        <div class="about-box"><a th:href="@{/services}">
							<span class="icon">
								<span class="fa fa-coffee"></span>
                            </span></a>
                            <h4>Dental Exams</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 dental">
                <img src="assets/images/tooth.png" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- //about -->

<!-- about bottom -->
<section class="about-bottom pb-5">
    <div class="container pb-lg-3">
        <div class="row bottom-grids">
            <div class="col-lg-6">
                <img src="assets/images/about.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <h4>Routine Dental Exams and Check ups at $30.</h4>
                <p class="py-3">Regular dental exams and check-ups are essential for maintaining a healthy smile. Our comprehensive evaluations
                    help detect potential issues early, ensuring your teeth and gums stay in top condition. Our experienced team will
                    carefully assess your oral health, provide professional cleanings, and offer personalized advice for your dental care.
                    Take advantage of this affordable opportunity to invest in your smile and prevent future dental problems. Book your appointment today!</p>

            </div>
        </div>
    </div>
</section>
<!-- //about bottom -->

<!-- services -->
<section class="services py-5">
    <div class="container py-lg-5">
        <h3 class="heading text-center mb-sm-5 mb-4">What we do </h3>
        <div class="row offer-grids">
            <div class="col-lg-4 col-md-6">
                <div class="ser1">
                    <div class="bg-layer">
                        <h4 class="">IMPLANT DENTISTATRY</h4>
                        <p class="mt-3">Restore your smile and confidence with our expert implant dentistry services.
                            Our team specializes in providing durable, natural-looking dental implants that feel and
                            function like your own teeth. Whether you need a single implant or full-mouth restoration,
                            we’re dedicated to ensuring comfort and precision every step of the way. Say goodbye to gaps
                            and hello to a healthier, more complete smile!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="ser2">
                    <div class="bg-layer">
                        <h4 class="">COSMETIC DENTISTARY</h4>
                        <p class="mt-3">Transform your smile with our advanced cosmetic dentistry services. From teeth
                            whitening to veneers, we offer a range of treatments designed to enhance the beauty of your
                            smile while maintaining a natural look. Our skilled team combines artistry with precision to
                            give you the smile you’ve always dreamed of, boosting both your confidence and oral health.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="ser3">
                    <div class="bg-layer">
                        <h4 class="">GENERAL DENTISTARY</h4>
                        <p class="mt-3">Maintain your oral health with our comprehensive general dentistry services.
                            From regular check-ups and cleanings to fillings and preventive care, we’re dedicated to
                            keeping your smile healthy and strong. Our compassionate team is here to provide you and
                            your family with personalized care, focusing on early detection and long-term dental
                            wellness</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser4">
                    <div class="bg-layer">
                        <h4 class="">SPECIALIZED DENTISTARY</h4>
                        <p class="mt-3">Receive expert care tailored to your unique dental needs with our specialized
                            dentistry services. From orthodontics to periodontics and endodontics, our team provides
                            advanced treatments for complex dental conditions. Using the latest technology and
                            techniques, we ensure you receive precise, compassionate care for a healthier, more
                            functional smile.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->

<!-- testimonials -->
<section class="feedback" id="testimonials">
    <div class="feedback-layer py-5">
        <div class="container py-lg-5">
            <h3 class="heading text-center mb-sm-5 mb-4">Testimonials</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p> I love this place! Everyone is extremely friendly, and take time to explain things.
                                The person at the front desk took me through the cost estimates for my next procedure
                                without me asking. I really appreciate that</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="assets/images/ser1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="feedback-img-info">
                                <h5>Trump Jackson</h5>
                                <p class="font-italic">- April 2, 2022.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p> I have loved every experience here. Dr. Mathew is very friendly and amazing at his
                                work. Little to no pain or discomfort in my fillings visits. Great results.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="assets/images/ser2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="feedback-img-info">
                                <h5>Lynn Matt</h5>
                                <p class="font-italic">- May 31, 2022.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p> My family and I would highly recommend Dr. Linda and her team for your dental needs.
                                We have been with them for over 4 years and have been extremely happy with the care we
                                have received.  I recently went in with dental pain and found out I had a broken crown.
                                Due to the technology available at the office, I left in less than 2 hours from entering
                                with a new crown in place.  No impressions and no temporary needed!  Amazing!  If you're
                                looking for a small, welcoming dental office this is your place!</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="assets/images/ser3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="feedback-img-info">
                                <h5>Scharff Andreas</h5>
                                <p class="font-italic">- Oct 3, 2022.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials -->

<!-- blog
<section class="blog py-5">
    <div class="container py-md-5 py-3">
        <h3 class="heading text-center mb-sm-5 mb-4">Latest News </h3>
        <div class="row blog-grids">
            <div class="col-lg-7 mb-lg-5 blog-img1">
                <img src="assets/images/blog1.jpg" alt="" class="img-fluid"/>
                <a href="single.html">Blog #1</a>
            </div>
            <div class="col-lg-5 mb-lg-5 mb-4">
                <h5>March 3, 2019.</h5>
                <h4 class="my-3">Nullam dui mi, vulputate ac cursus.</h4>
                <p class="my-3">onec consequat sapien ut leo cursus rhoncus. Nullam duit mi, vulputate ac metus semper Nullam dui mi.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.
                    leo et cursus rhoncus. Nullam dui mi, vulputate cursus. </p>
                <a href="single.html" class="btn-banner"> View Post </a>
            </div>
            <div class="col-lg-5 mb-lg-0 mb-4">
                <h5>March 3, 2019.</h5>
                <h4 class="my-3">Nullam dui mi, vulputate ac cursus.</h4>
                <p class="my-3">onec consequat sapien ut leo cursus rhoncus. Nullam duit mi, vulputate ac metus semper Nullam dui mi.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.
                    leo et cursus rhoncus. Nullam dui mi, vulputate cursus.</p>
                <a href="single.html" class="btn-banner"> View Post </a>
            </div>
            <div class="col-lg-7 blog-img2">
                <img src="assets/images/blog1.jpg" alt="" class="img-fluid"/>
                <a href="single.html">Blog #2</a>
            </div>
        </div>
    </div>
</section>
 //blog -->

<!-- appointment -->
<section class="appointment text-center py-5">
    <div class="container py-sm-3">
        <h4>make your dream smile a reality</h4>
        <p class="mt-3">Call Us To Book Your Appointment Today</p>
        <a th:href="@{/contact}">Book an Appointment</a>
    </div>
</section>
<!-- //appointment -->

<!-- footer -->
<div th:replace="~{footer :: footer}"></div>
<!-- //footer -->

<!-- move top -->
<div class="move-top text-right">
    <a href="#home" class="move-top">
        <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
    </a>
</div>
<!-- move top -->

</body>
</html>