
<!-- top header -->
<div th:fragment="header-top" class="header-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="d-lg-flex header-w3_pvt">
                    <li class="mr-lg-3">
                        <span class="fa fa-envelope-open"></span>
                        <a href="mailto:info@example.com" class="">office@oeuniondental.com</a>
                    </li>
                    <li>
                        <span class="fa fa-phone"></span>
                        <p class="d-inline">Call Us +1 414 364 8000</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 header-right-w3_pvt">
                <ul class="d-lg-flex header-w3_pvt justify-content-lg-end">
                    <li class="mr-lg-3">
                        <span class=""><span class="fa fa-clock-o"></span>Mon - Fri : 8:30am to 5:00pm</span>
                    </li>
                    <li class="">
                        <span class=""><span class="fa fa-clock-o"></span>Sat & Sun : 9:00am to 3:00pm</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //top header -->
